<div class="menu_bottom_container">

    <div class="menu_bottom_card">

        <div class="title_label">
            
            <h1 class="title">workshop web</h1>
        </div>

        <div class="links">
            <a href="https://www.linkedin.com/in/brunopaz8/"><img src="https://img.icons8.com/m_rounded/512/FFFFFF/linkedin--v2.png" alt="linkedin"></a>
            <a href="https://github.com/brunopaz8"> <img src="https://img.icons8.com/ios11/512/FFFFFF/github.png" alt="github"></a>
        </div>

    </div>

    <hr>

    <div class="fotter">
        
        <div class="terms">
            <span>Terms & Conditions</span>
            <span>Cookie & Policy</span>
        </div>

        <div class="habilits">
            <span>All rights reserved</span>
            <span>2025 Workshop web</span>
        </div>

    </div>
</div>



